.Show_Detail_Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Show_Detail {
  margin: 0 30px;
}

.title_container {
  display: flex;
  justify-content: center;
}

.Show_Detail_Page .poster_container {
  width: 185px;
}

.Show_Detail_Page img {
  width: 185px;
  height: auto;
}

.watch_show_buttons .watchbutton {
  width: 185px;
}

.watch_show_buttons {
  width: 185px;
}

@media screen and (min-width:800px) {
  .Show_Detail_Page {
    flex-direction: row;
  }
  
  .title_container {
    display: flex;
    justify-content: left;
  }

}